/* .half-header {
        background: linear-gradient(130deg, rgba(26, 6, 248, 0.85), rgba(219, 6, 252, 0.5));
        height: 600px;
        position: sticky;    
        backdrop-filter: blur(10px);
        display: flex;
        justify-content: center;
    }*/

/*=========Start Content==========*/

/* .half-header {
  background-size: cover;
  height: 90vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center; Center content vertically */
  /* background-image: url("applight-wave.svg"); */
  /* background: linear-gradient(
    90deg,
    #ffffff,
    #a682ff,
    #715aff,
    #0b0a07,

    #ffffff,
    #a682ff,
    #715aff,
    #0b0a07, */
    /* #a18cd1,
    #fbc2eb,
    #ffecd2,
    #fcb69f */
  /* );
  background-size: 400% 400%;
  animation: backgroundMove 10s ease-in-out infinite;
  padding: 100px 0px;
  transition: all 1s ease;
  overflow: hidden;
  background-size: 400% 400%;
}

@keyframes backgroundMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.content {
  height: 50rem;
}

.main-heading {
  width: 75rem;
  font-size: 60px;
  text-align: center;
  color: white;
  font-weight: 600;
}
.main-heading .text-xl {
  text-align: start;
} */



.half-header {
  background-size: cover;
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center; 
  background: linear-gradient(
    90deg,
    #6cf4b0,
    #a682ff,
    #2e1bae,
    /* #f54e6d, */
    #f42bc8,
    #a682ff,
    #715aff,
    #4bd3f1
  );
  background-size: 400% 400%;
  animation: backgroundMove 20s ease-in-out infinite;
  padding: 100px 0px;
  transition: all 1s ease;
  overflow: hidden;
}

@keyframes backgroundMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.content {
  height: 50rem;
}

.main-heading {
  width: 75rem;
  font-size: 60px;
  text-align: center;
  color: white;
  font-weight: 600;
}

.main-heading .text-xl {
  text-align: start;
}





