@import "tailwindcss";




html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html, body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    font-family: Arial, Helvetica, sans-serif;
}